@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./base/fonts";
@import "./base/normalize";
@import "./base/vars";
@import "./base/selection-colors";
@import "./base/body-element";

$theme-colors: (
    "primary": #c0d900,
    "danger": #ff4136
);

$card-width: 400px;
$border-width: 5px;

.card{
    background: Transparent;
    width: $card-width;
    border-width: $border-width;
    border-color: rgb(55, 5, 5);
    margin: 10px;
}

.card-body {
    padding: 0px;
    border: 2px solid $white;
}
.card-header {
    padding: 0px;
    //background-color: $highlight;
}

.card-title {
    padding: 10px;
    color: $white;
    font-weight: 900;
    text-align: center;
    
}

.card-text {
    color: $muted-gray;
}

.card-image {
    border-radius: 4px;
    width: $card-width - ($border-width * 2);
}

.App {
    background-color: $black;
    min-height: 100vh;
    height: 100%;
}

.Projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.Project {
    transition: margin 1s;
    margin: 0 0 0 0;
}
    

